@import "constantes.css";
@import "header.css";
@import "footer.css";
@import "inicioSesion.css";


/* ================================================================ */
/*                  Estilos generales */
/* ================================================================ */
body {
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: var(--fondo); 
    color: var(--texto-oscuro);
    min-height: 100%;
}

/* ================================================================ */
/*                  Elementos reutilizables */
/* ================================================================ */
.boton-verde {
    background-color: var(--verde-oscuro); 
    color: var(--texto-claro);
    padding: 10px 20px; 
    border: none; 
    border-radius: var(--border-radius); 
    cursor: pointer; 
    font-weight: 700;
    transition: background-color 0.3s, transform 0.3s; /* Transición suave */    
}

.boton-verde:hover {
    background-color: var(--verde-claro);
    transform: scale(1.05); 
}

.boton-rojo {
    background-color: var(--rojo-oscuro); 
    color: var(--texto-claro);
    padding: 10px 20px; 
    border: none; 
    border-radius: var(--border-radius); 
    cursor: pointer; 
    font-weight: 700;
    transition: background-color 0.3s, transform 0.3s; /* Transición suave */
}

.boton-rojo:hover {
    background-color: var(--rojo-claro);
    transform: scale(1.05); 
}

.form {
    
    place-items: center;  /* Centra el contenido en ambas direcciones */
    width:auto;
    height: auto;
    margin: 20%;
    padding: 20%;
    border-radius: 10px;

}



.grid-container-wel {
    display: grid;
    place-items: center;  /* Centra el contenido en ambas direcciones */
    width:80%;
    background-color: #a81616; /* Color de fondo */
    margin: 20%;
    padding: 20%;
    border-radius: 10px;
}

/* Estilos del recuadro */
.grid-texto {
    width: auto;  /* Ajusta el tamaño del recuadro según necesites */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;  /* Centra el texto dentro del recuadro */
}

.carousel-container-emp {
    display: flex;
    margin: auto;
    overflow-x: auto; /* Permite el deslizamiento horizontal */
    gap: 20px;        /* Espacio entre los cuadros */
    padding: 20px;     /* Espacio dentro del contenedor */
    width: 75%;       /* Ancho completo de la página */
    background-color: hsl(0, 0%, 100%); 
}

.item-carousel-emp {
    width: 250px; /* Ancho fijo para cada cuadro */
    background-color: #ffffff;
    border-radius: 8px;  /* Bordes redondeados */
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-shrink: 0; /* Evita que los cuadros se encojan */
    transition: transform 0.3s ease; /* Efecto suave al deslizar */
}

/* Estilos para la tabla */
.table-productos{
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 20px 0;
}

/* Estilos para los encabezados de la tabla */
th {
    background-color: var(--verde-oscuro); /* Verde oscuro */
    color: white;
    padding: 10px;
    font-size: 16px;
    
}

/* Estilos para las celdas */
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

/* Alternar el color de fondo de las filas */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Resaltar la fila cuando el usuario pasa el mouse */
tr:hover {
    background-color: #ddd;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Contenedor principal para el contenido de la página */
.main-content {
    flex: 1; /* Se expande para ocupar el espacio restante */
    padding: 20px;
}