<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>*[DINAMICO]</title>


</head>

<body>
    <header class="header">

        <!-- Componente de logo -->
        <div class="logo">
            <a href="#" class="logo__link">
                <img src="logo.JPG" class="logo__imagen" alt="Logo">
                <span>Feria Virtual CR</span>
            </a>
        </div>

        <!-- Componente de navegación -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li><a href="#" class="navbar__link">Inicio</a></li>
                <li><a href="#" class="navbar__link">Emprendedores</a></li>
                <li><a href="#" class="navbar__link">Productos</a></li>
            </ul>
        </nav>

        <!-- Componente de iconos -->
        <div class="user-menu">
            <a href="#" class="user-menu__icon" id="userIcon">&#x1F464;</a>

            <div class="user-menu__dropdown" id="userDropdown">
                <a href="#" class="user-menu__item">Iniciar sesión</a>
            </div>
        </div>
    </header>
    <!-- ============================================================= -->
    <div class="main-cont">
                   
            <select class="main-cont__dropdown">
                <option value="" disabled selected>Elija una categoría...</option>
                <option value="opcion1">Opción 1</option>
                <option value="opcion2">Opción 2</option>
                <option value="opcion3">Opción 3</option>
            </select>
        

        <div class="main-cont__emprendimientos">

            <div class="emprendimiento">
                <img class="emprendimiento__img"
                    src="https://answers-afd.microsoft.com/static/images/image-not-found.jpg">
                <h3 class="emprendimiento__nombre">[Nombre emprendimiento]</h3>
                <p class="emprendimiento__desecripcion">[Esta es la ubicacion de la descripcion corta de del emprendimiento]</p>    
            </div>

            <div class="emprendimiento">
                <img class="emprendimiento__img"
                    src="https://answers-afd.microsoft.com/static/images/image-not-found.jpg">
                <h3 class="emprendimiento__nombre">[Nombre emprendimiento]</h3>
                <p class="emprendimiento__desecripcion">[Esta es la ubicacion de la descripcion corta de del emprendimiento]</p>    
            </div>
            
            <div class="emprendimiento">
                <img class="emprendimiento__img"
                    src="https://answers-afd.microsoft.com/static/images/image-not-found.jpg">
                <h3 class="emprendimiento__nombre">[Nombre emprendimiento]</h3>
                <p class="emprendimiento__desecripcion">[Esta es la ubicacion de la descripcion corta de del emprendimiento]</p>    
            </div>

        </div>
    </div>







    <script src="js/menuUsuario.js"></script>

    <footer class="footer">
        <div>
            <p class="footer__derechos">&copy; 2024 Feria Virtual CR. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>