<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <title>*[DINAMICO]</title>
</head>

<body>
    <header class="header">

        <!-- Componente de logo -->
        <div class="logo">
            <a href="#" class="logo__link">
                <img src="logo.JPG" class="logo__imagen" alt="Logo">
                <span>Feria Virtual CR</span>
            </a>
        </div>

        <!-- Componente de navegación -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li><a href="#" class="navbar__link">Inicio</a></li>
                <li><a href="#" class="navbar__link">Emprendedores</a></li>
                <li><a href="#" class="navbar__link">Productos</a></li>
            </ul>
        </nav>

        <!-- Componente de iconos -->
        <div class="user-menu">
            <a href="#" class="user-menu__icon" id="userIcon">&#x1F464;</a>

            <div class="user-menu__dropdown" id="userDropdown">
                <a href="#" class="user-menu__item">Iniciar sesión</a>
            </div>
        </div>
    </header>

    <div class="info-emprendedor">
        <img class="info-emprendedor__img" src="https://answers-afd.microsoft.com/static/images/image-not-found.jpg">
        <div class="info-emprendedor__cont-texto">
            <h2 class="info-emprendedor__nombre">[Nombre emprendimiento]</h2>
            <p class="info-emprendedor__detalle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
    </div>

    <div class="cont-productos">
        <h3 class="cont-productos__titulo">Productos</h3>
        <div class="cont-productos__grupo">

            <div class="producto">
                <img class="producto__img" src="https://answers-afd.microsoft.com/static/images/image-not-found.jpg">
                <h4 class="producto__nombre">[Nombre producto]</h4>
                <p class="producto__detalle">[Detalle corto de producto para los preview]</p>
                <p class="producto__precio">₡2500</p>
                <button class="boton-verde">Agregar al carrito</button>
            </div>

            <div class="producto">
                <img class="producto__img" src="https://answers-afd.microsoft.com/static/images/image-not-found.jpg">
                <h4 class="producto__nombre">[Nombre producto]</h4>
                <p class="producto__detalle">[Detalle corto de producto para los preview]</p>
                <p class="producto__precio">₡2500</p>
                <button class="boton-verde">Agregar al carrito</button>
            </div>

            <div class="producto">
                <img class="producto__img" src="https://answers-afd.microsoft.com/static/images/image-not-found.jpg">
                <h4 class="producto__nombre">[Nombre producto]</h4>
                <p class="producto__detalle">[Detalle corto de producto para los preview]</p>
                <p class="producto__precio">₡2500</p>
                <button class="boton-verde">Agregar al carrito</button>
            </div>

            <div class="producto">
                <img class="producto__img" src="https://answers-afd.microsoft.com/static/images/image-not-found.jpg">
                <h4 class="producto__nombre">[Nombre producto]</h4>
                <p class="producto__detalle">[Detalle corto de producto para los preview]</p>
                <p class="producto__precio">₡2500</p>
                <button class="boton-verde">Agregar al carrito</button>
            </div>

            <div class="producto">
                <img class="producto__img" src="https://answers-afd.microsoft.com/static/images/image-not-found.jpg">
                <h4 class="producto__nombre">[Nombre producto]</h4>
                <p class="producto__detalle">[Detalle corto de producto para los preview]</p>
                <p class="producto__precio">₡2500</p>
                <button class="boton-verde">Agregar al carrito</button>
            </div>

           
        </div>
            
            
    </div>

    <script src="js/menuUsuario.js"></script>
    <footer class="footer">
        <div>
            <p class="footer__derechos">&copy; 2024 Feria Virtual CR. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>